<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AvsCodeSection" type="AuthorizeNetLite.Configuration.AvsCodeConfiguration, AuthorizeNetLite"/>
    <section name="CardCodeSection" type="AuthorizeNetLite.Configuration.CardCodeConfiguration, AuthorizeNetLite"/>
  </configSections>
  <AvsCodeSection>
    <AvsCodes>
      <add code="A" description="Address (Street) matches, ZipCode does not match." />
      <add code="B" description="Address information not provided for Address Verification System check." />
      <add code="E" description="Address Verification System encountered an error." />
      <add code="G" description="Non-US Carding Issuing Bank." />
      <add code="N" description="Address (Street) and ZipCode does not match." />
      <add code="P" description="Address Verification System was not applicable for this transaction." />
      <add code="R" description="Retry. Address Verification System was unavailable or timed out." />
      <add code="S" description="Address Verification Service is not supported by the issuer." />
      <add code="U" description="Address information is unavailable." />
      <add code="W" description="Address (Street) does not match, 9 Digit ZipCode does match." />
      <add code="X" description="Address (Street) and 9 Digit ZipCode does match." />
      <add code="Y" description="Address (Street) and 5 Digit ZipCode does match." />
      <add code="Z" description="Address (Street) does not match, 5 Digit ZipCode does match." />
    </AvsCodes>
  </AvsCodeSection>
  <CardCodeSection>
    <CardCodes>
      <add code="M" description="Card Code matches." />
      <add code="N" description="Card Code does not match." />
      <add code="P" description="Card Code was not processed." />
      <add code="S" description="Card Code should have been present." />
      <add code="U" description="Issuer was unable to process Card Code request." />
    </CardCodes>
  </CardCodeSection>
</configuration>